body {
    background-color: rgba(39, 125, 255, 0.3);
}
.V2rayIg {
    width: 80%;
}
.TP div {
    text-align: center;
}
.TP div p {
    font-size: 20px;
    font-weight: 500;
}
#BoxText {
    padding-bottom: 40px;
}
